doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.2/css/all.css', integrity='sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns', crossorigin='anonymous')
    title UCACloud
  body
    .BarraSup
      .navbar.navbar-dark.bg-dark
        h2 UCACloud
        form.d-flex.justify-content-end(action='/users/signin', method='post')
          input#email.form-control.mr-sm-2(type='email', name='email', placeholder='abgh@correo.com', pattern='^[^@]+@[^@]+\.[a-zA-Z]{2,}$', required='')
          input#password.form-control.mr-sm-2(type='password', name='password', placeholder='password', required='')
          input#inicio.btn.btn-outline-light(type='submit', value='Enviar')
    .content
      .contIzqpractica
        .CITextpractica
          | Lorem ipsum dpracticaolor sit amet, consectetur adipisicing elit, sed
          | do eiusmod tepracticampor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud practicaexercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          | Duis aute irupracticare dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          | nulla pariatupracticar. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          | deserunt mollit anim id est laborum.
        .CIImage
          img(src='./src/Logo UCA 2015.png', width='50%')
      .contDer
        form.registro(action='/users/signup', method='post')
          input#name.form-control.mr-sm-2(type='text', name='name', placeholder='Nombre', required='')
          input#lastname.form-control.mr-sm-2(type='text', name='lastname', placeholder='Apellido', required='')
          input#email.form-control.mr-sm-2(type='email', name='email', placeholder='abgh@correo.com', pattern='^[^@]+@[^@]+\.[a-zA-Z]{2,}$', required='')
          input#password.form-control.mr-sm-2(type='password', name='password', placeholder='Password', required='')
          input#cpass.form-control.mr-sm-2(type='password', name='cpass', placeholder='Confirmar Password', required='')
          input#reg.btn.btn-outline-dark(type='submit', name='enviar', value='Register')
    hr
    footer
      .card
        .card-header
          | UCACloud
        .card-body
          h5.card-title Redes Sociales
          ul.card-text
            li
              | Enlaces Externos
              ul
                li
                  i.fab.fa-github
                li
                  i.fas.fa-home
                li
                  i.fab.fa-facebook-f
            li Mas sobre nosotros
          .d-flex.justify-content-center
            .card(style='width: 18rem;')
              .card-body
                h5.card-title Special title treatment
                p.card-text With supporting text below as a natural lead-in to additional content.
                a.btn.btn-primary(href='#') Go somewhere
            .card(style='width: 18rem;')
              .card-body
                h5.card-title Special title treatment
                p.card-text With supporting text below as a natural lead-in to additional content.
                a.btn.btn-primary(href='#') Go somewhere
            .card(style='width: 18rem;')
              .card-body
                h5.card-title Special title treatment
                p.card-text With supporting text below as a natural lead-in to additional content.
a.btn.btn-primary(href='#') Go somewhere