.BarraSup{
  color: white;
}

#sup{
  display: flex;
  align-content: space-between
}

.title{
  display: flex;
  justify-items: flex-start;
  align-content: center;
}

.title img{
  height: 10%;
  width: 10%;
}

.title h2{
  margin: 0.25em
}

.content{
  display: grid;
  grid-template-columns: repeat(2, 50%)
}

.contIzq{
  margin: 2em
}

.contDer{
  margin: 2em
}
.contDer input{
  margin-top: .5em 
}